
/* Body and general styles */
body {
    font-family: 'Press Start 2P', cursive;
    /* Retro pixel font */
    color: #fff;
    /* Set text color to white */
    background-color: #000;
    /* Black background */
    line-height: 1.6;
}

/* Header styles */
.jumbotron {
    background-color: #000;
    /* Black background */
    padding: 4rem 2rem;
    margin-top: 56px;
    /* Adjust for fixed navbar */
    text-align: center;
}

.jumbotron h1 {
    font-size: 3rem;
    /* Larger font size for header */
    color: #fff;
    /* White text color */
}

.jumbotron p {
    font-size: 1.2rem;
    /* Increased font size */
    color: #ccc;
    /* Lighter text color */
}

.container {
    max-width: 800px;
    /* Limit content width for retro feel */
}

/* Navbar styles */
.navbar {
    background-color: #062c54 !important;
    /* Black navbar background */
    border-bottom: none;
    /* Remove border */
}

.navbar-brand,
.nav-link {
    color: #fff !important;
    /* Navbar text color */
    font-size: 16px;
}


/* Card styles */
.card {
    background-color: #333;
    /* Dark grey card background */
    color: #fff;
    /* Light text color */
    margin: 20px;
    /* Add some margin */
    transition: all 0.3s ease-in-out;
}

.card-title {
    color: #fff;
    /* Card title color */
    font-size: 1.5rem;
    /* Larger font size */
}

.card-text {
    color: #ccc;
    /* Lighter text color */
}

/* Button styles */
.btn-primary {
    background-color: #4CAF50;
    /* Green button color */
    border-color: #4CAF50;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    /* Larger font size */
}

.btn-primary:hover {
    background-color: #2E7D32;
    /* Darker green hover color */
    border-color: #2E7D32;
}



/* Scroll to Top button */
#scrollToTopBtn {
    background-color: #4CAF50;
    /* Green button color */
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #2E7D32;
    /* Darker green hover color */
    transform: scale(1.1);
}

.carousel-control-prev-icon {
    background-color: #4CAF50;
}

.carousel-control-next-icon {
    background-color: #4CAF50;
}
